<tr class="recipe_food_row" id="recipe_food_row_<%= recipe_food.id %>">
  <td class="recipe_food_name"><%= recipe_food.food.name %></td>
  <td class="recipe_food_quantity"><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %></td>
  <td class="recipe_food_total_price"><%= recipe_food.food.price * recipe_food.quantity %></td>
  <% if recipe_food.recipe.user == current_user %>
    <td class="recipe_food_remove">
      <div class="recipe_food_remove_container">
        <%= link_to "Remove", recipe_recipe_food_path(recipe_food.recipe_id, recipe_food.id), data: { "turbo_method": :delete }, class: "recipe_food_remove_link" %>
      </div>
    </td>
  <% end %>
</tr>